# dependencies
node_modules/

# env
.env
.env.local
.env.*.local

# build output
dist/
dist-ssr/

# logs
npm-debug.log*
*.log

# TypeScript
*.tsbuildinfo

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json